<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Hi-Spark Shop</title>
		<link rel="stylesheet" type="text/css" href="css/Shop_Main.css">
	</head>
	<body>
		<div class="wrap">
			<div class="header">
				<h2>쇼핑몰 페이지_헤더</h2>
			</div>
			<div class="container">
				<div class="banner">
					<h2>메인배너</h2>
				</div>
				<div class="Shop_list">
					<h2>상품리스트</h2>
					<div class="list_grid">
						<div>상품1</div>
						<div>상품2</div>
						<div>상품3</div>
						<div>상품4</div>
						<div>상품5</div>
						<div>상품6</div>
						<div>상품7</div>
						<div>상품8</div>
					</div>
					<div class="paginator">
						<h2>페이지네이터</h2>
					</div>
				</div>
				
			</div>
			
		</div>
	
	</body>
</html>